<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le Meilleur Pro - Trouver les meilleurs artisans{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('css/app.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header-top">
            <h1 id="header">
                <span class="glyphicon glyphicon-home" id="glif-home">
                    <a href="{{ path('home') }}">lemeilleurpro.fr</a>
                </span>
            </h1>
        </div>

        <div id="container">
            {% block body %}{% endblock %}

            {% block footer %}
                <div id='footer'>
                    <p> &copy; {{ "now"|date("Y") }} <a href="{{path('home')}}">leMeilleurPro</a> - Tous droits réservés. </p>

                    <nav class="reseau_social">
                        <h2> Nous suivre sur: </h2>
                        <ul>
                            <li><a href="https://www.facebook.com/Lemeilleurpro-2057239367932689" class="fb">
                                    <img src="{{ asset('images/facebook-logo.jpg') }}" alt="logo_facebook">
                                </a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/le-meilleur-pro-6a3872160" class="li">
                                    <img src="{{ asset('images/linkedin.jpg') }}" alt="logo_linkedin">
                                </a>
                            </li>
                            <li><a href="https://twitter.com/LeMeilleurPro" class="tw">
                                    <img src="{{ asset('images/twitter.png') }}" alt="logo_twitter">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
