{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        <div class="image-block">
            {#<img src="{{ asset('images/imgLePro.png') }}" alt="photo_de_ville">#}
        </div>

        <div class="panel-primary" id="block-metier">
            <div class="row">
                <div class="plombier">
                    <img src="{{ asset('images/plombier.jpg') }}" alt="logo_plombier">
                    <p class="descrip">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                        Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand
                        un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </p>
                </div>
                <div class="electricien">
                    <img src="{{ asset('images/electricien.jpg') }}" alt="logo_electricien">
                    <p class="descrip">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                        Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                        quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </p>
                </div>
                <div class="jardinier">
                    <img src="{{ asset('images/jardinier.jpg') }}" alt="logo_jardinier">
                    <p>
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                        Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                        quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </p>
                </div>

                <div class="serrurier">
                    <img src="{{ asset('images/serrurier.jpg') }}" alt="logo_serrurier">
                    <p>
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                        Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                        quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}