html,body{
  margin: 0;
  padding: 0;
  outline: 0;
  height: 100%;
}

#container{
  max-width:1280px;
  min-height:100%;
  margin:0 auto;
  position:relative;
}

/**********************************************************
***                     COIN HEADRE                       *
 **********************************************************/
.header-top #header a{
  color: #F5F5F5;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  margin-left: -20px;
}

.header-top #header{
  background: #286090;
  height: 10.5%;
  margin-top: 0;
  padding: 0.7% 0 0 0;

  /************************** POUR FIXER HEADER ******************/
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

h1 span#glif-home{
  color: #F5F5F5;
  padding-left: 2em;
}


/**********************************************************
**                COIN IMAGE BLOCK                       **
**********************************************************/
.image-block{
  background: url("../images/imgLePro.png") no-repeat center;
  height: 45em;
  margin-top: -5.9em;
  background-size: cover;

  margin-right: -29px;
  margin-left: -17px;
}




/**********************************************************
*                    COIN DES METIERS                     *
 **********************************************************/
#block-metier {
  float: left;
  width: 100%;
}

.electricien, .plombier,
.jardinier, .serrurier{
  float: left;
  height: 20%;
  width: 30%;
  margin-right: -7em;
  padding: 4em;
}


.electricien img, .plombier img,
.serrurier img, .jardinier img,
.electricien p, .plombier p, .serrurier p, .jardinier p{
  height: 20%;
  width: 70%;
  margin-left: 4em;
}

.electricien p, .plombier p, .serrurier p, .jardinier p{
  font-family: Calibri, Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin-top: 2em;
  line-height: 1em;
}


/**********************************************************
*                    COIN RESEAU SOCIAL                   *
 **********************************************************/
#footer{
  background: #286090;
  height: 8em;
  padding: 2em;
  width:   100%;

  bottom: -90%;
  position: absolute;
}

nav.reseau_social{
  float: right;
  margin: -2em 5em 1em 1em;
}

nav.reseau_social ul{
  list-style-type: none;
  display: inline;
}

nav.reseau_social h2{
  color: #8c8c8c;
  font-family: Calibri, Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}

.reseau_social ul li a.fb img, .reseau_social ul li a.tw img,
.reseau_social ul li a.li img{
  border-radius: 65%;
  float: left;
  height: 30px;
  margin-top: -1.7em;
  padding: .4em;
  width: 30px;
}

#footer p{
  color: #8c8c8c;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  margin-left: 5em;
  padding: .5em;

  /**********************   TEST POUR POSITIONNER RESEAU SOCIAL **************************************/
  float: left;
}

#footer p a{
  color: #f6f6f6;
  font-family: Calibri, Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  text-decoration: none;
}